

<div id="gallery">
<% @designs.each do |design| %>
<% if design.image.present? %>
  <div class="thumb">
   <%= link_to image_tag(design.image), design  %><div class="label"><%= design.name %></div></div>
    <% end %>
  <% end %></div>
