<div class="about">
<h2>Create and share designs</h1>

<p>Origami is the Japanese art of folding paper into decorative shapes.</p><p> <%= link_to 'Register', new_user_path %> to find your next project on Origa<span class="accent">me</span>.db.</p>
</div>
